@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <!-- Delete for other user profile view -->
                    <a href="#" class="rg_blackText">Newsfeed</a>
                </li>
                <li>
                    <!-- Delete for other user profile view -->
                    <a href="#" class="rg_blackText">Explore</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Vacations</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Bucket List</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Groups</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Events</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
    <h2>Country Albums</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-3 text-center center-block">
                    <img src="Content/Images/backwardsHat.jpg" class="album_cover" />
                    <h3 class="col-md-6 album_title">USA</h3>
                    <div class="col-md-6 album_edit">
                        <a href="">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="Content/Images/divkuro.jpg" class="album_cover" />
                    <h3 class="col-md-6 album_title">England</h3>
                    <div class="col-md-6 album_edit">
                        <a href="">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="Content/Images/IMG_4927.JPG" class="album_cover" />
                    <h3 class="col-md-6 album_title">Italy</h3>
                    <div class="col-md-6 album_edit">
                        <a href="">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="Content/Images/IMGP5501-Edit_test1.jpg" class="album_cover" />
                    <h3 class="col-md-6 album_title">Germany</h3>
                    <div class="col-md-6 album_edit">
                        <a href="">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />