@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@**************************************THIS IS THE COUNTRY ALBUM***********************************@
<link href="~/Content/custCSS.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 table-bordered table-responsive submit_padding: bnghttfg">
            <div>
                <h2>
                    [USA]
                </h2>
            </div>
        </div>
        <div class="tblBorder">
            [Description: My family and I rented an RV and traveled across the country and it is beautiful. Check out the Grand Canyon.]

            <div>
                6 City Albums

                <div class="row">
                    <div class="col-md-4">
                        <h6>Springtime Trip</h6>
                        <h5 style="text-emphasis:inherit">Portland, Maine</h5>
                        <img src="http://lorempixel.com/140/140/"  />
                        <button type="button" class="btn btn-default glyphicon-align-justify">
                            <span class="glyphicon glyphicon-pencil img-responsive "></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <br />

                    </div>
                    <div class="col-md-4">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>