@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="col-md-4 text-center profile-separator">
        <div class="center-block">
            <img src="Content/Images/IMGP5501-Edit_test1.jpg" class="profile-photo" />
            <div class="text-right">
                <a href="#">Edit</a> <!-- Change to message glyphicon for other user profile -->
            </div>
        </div>
        <div class="text-center">keigito</div>
        <hr />
        <div class="text-center">I'm a master of travel. If you want to travel somewhere, I'm your guy!</div>
        <div class="text-center separator_pad"><a href="#">mywebsite.com</a></div>
        <div class="text-center">Texas, USA</div>

        <div class="row center-block separator_pad">
            <ul class="text-center list-inline">
                <li class="border-right">
                    <strong>
                        302<br />
                        Followers
                    </strong>
                </li>
                <li class="border-right">
                    <strong>
                        136<br />
                        Following
                    </strong>
                </li>
                <li>
                    <strong>
                        12<br />
                        Countries
                    </strong>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-8 profile-separator">
        <img src="Content/Images/Google_map-6.png" class="full-map img img-responsive" />
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <!-- Delete for other user profile view -->
                    <a href="#" class="rg_blackText">Newsfeed</a>
                </li>
                <li>
                    <!-- Delete for other user profile view -->
                    <a href="#" class="rg_blackText">Explore</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Vacations</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Bucket List</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Groups</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Events</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/city-lights.jpg" class="album_cover" />
                    <h3>USA</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/city-road.jpg" class="album_cover" />
                    <h3>England</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/forest-trees.jpg" class="album_cover" />
                    <h3>Italy</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/sea-sky.jpg" class="album_cover" />
                    <h3>Germany</h3>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/city-lights.jpg" class="album_cover" />
                    <h3>Argentina</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/city-road.jpg" class="album_cover" />
                    <h3>Portugal</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/forest-trees.jpg" class="album_cover" />
                    <h3>Romania</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/sea-sky.jpg" class="album_cover" />
                    <h3>Taiwan</h3>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/city-lights.jpg" class="album_cover" />
                    <h3>Uganda</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/city-road.jpg" class="album_cover" />
                    <h3>Yemen</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/forest-trees.jpg" class="album_cover" />
                    <h3>Zimbabwe</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/sea-sky.jpg" class="album_cover" />
                    <h3>Turkey</h3>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-3 text-center center-block">
                    <a href="">
                        <div class="album_cover tblBorder">
                            <span class="glyphicon glyphicon-plus add-photo-padding"></span>
                        </div>
                    </a>
                </div>
                @*<div class="col-md-3 text-center center-block">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
                        <h6>Fiji</h6>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<br />
<br />