@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="col-md-4 text-center profile-separator">
        <div class="center-block">
            <img src="Content/Images/backwardsHat.jpg" class="profile-photo" />
            <div class="text-right">
                <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
            </div>
        </div>
        <div class="text-center">magic_rob</div>
        <hr />
        <div class="text-center">This is my bio and I'll write what I want to.</div>
        <div class="text-center separator_pad"><a href="#">rgreenlee.azurewebsites.net</a></div>
        <div class="text-center">Texas, USA</div>

        <div class="row center-block separator_pad">
            <ul class="text-center list-inline">
                <li class="border-right">
                    <strong>
                        23<br />
                        Followers
                    </strong>
                </li>
                <li class="border-right">
                    <strong>
                        16<br />
                        Following
                    </strong>
                </li>
                <li>
                    <strong>
                        4<br />
                        Countries
                    </strong>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-8 profile-separator">
        <img src="Content/Images/Google_map-6.png" class="full-map img img-responsive" />
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#" class="rg_blackText">Vacations</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Bucket List</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Groups</a>
                </li>
                <li>
                    <a href="#" class="rg_blackText">Events</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/city-lights.jpg" class="album_cover" />
                    <h3>USA</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/city-road.jpg" class="album_cover" />
                    <h3>England</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/forest-trees.jpg" class="album_cover" />
                    <h3>Italy</h3>
                </div>
                <div class="col-md-3 text-center center-block">
                    <img src="~/Content/Images/sea-sky.jpg" class="album_cover" />
                    <h3>Germany</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />