@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@**************************************THIS IS THE COUNTRY ALBUM***********************************@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-3 text-center center-block">
                    <a href="#">
                        <img src="~/Content/Images/city-lights.jpg" class="album_cover" />
                        <h3>USA</h3>
                    </a>
                </div>

                <div class="col-md-3 text-center center-block">
                    <a href="">
                        <div class="album_cover tblBorder">
                            <span class="glyphicon glyphicon-plus add-photo-padding"></span>
                        </div>
                    </a>
                </div>
                @*<div class="col-md-3 text-center center-block">
                        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
                        <h6>Fiji</h6>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<br />
<br />

@**************************************************************************************************@

<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-pencil"></span>
</button>
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-remove"></span>
</button>